/* remove body style */
body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
}

.editor {
  border: 1px solid black;
  padding: 1em;
}

.editor-field {
  margin-bottom: 0.5em;
}

.display {
  flex-grow: 1;
  padding: 1em;
}

.text-ok {
  color: #2eab4f;
}

.text-warn {
  color: #aba92e;
}

.text-danger {
  color: #b03e2a;
}